.expand {
    > label {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;
        >.icon {
            width: 1em;
            height: 1em;
            background-color: var(--bg3);
            border: solid .1em var(--border3);
        }
    }
    > input {
        display: none;
    }
    > :last-child {
        max-height: 0px;
        overflow: hidden;
    }
    > input:checked ~ :last-child {
        max-height: max-content;
    }
}